{{#each this}}
    <form action="">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Lastname">
        <input type="number" placeholder="Number">
        <input type="email" placeholder="E-Mail">
    </form>
{{/each}}